{{ text }}
{{ form }}
<div class="database">
{% for elements in element %}
  <div class="cats_element col-lg-6">
    <div class="image">
      <a href="#">
        {{ elements.image }}
      </a>
    </div>
    <div class="cats_info">
      <p class="cat_name">{{ elements.cat_name }}</p>
      <p class="email">{{ elements.email }}</p>
      <p class="time">{{ elements.time }}</p>
    </div>
  </div>
{% endfor %}
</div>
